<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:300,400,600,700,900&display=swap"
      rel="stylesheet"
    />
    <link href="./vendor.css" rel="stylesheet" />
    <link href="../../public/css/index.css" rel="stylesheet" />
    <script src="https://unpkg.com/feather-icons"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Travel Journal</title>
  </head>
  <body>
    <header class="w-4/5 mx-auto py-6 flex justify-between items-center">
      <!-- Brand name -->
      <div>
        <h1 class="text-2xl text-gray-800 font-bold">Travel Journal</h1>
      </div>

      <!--menu-->
      <div>
        <ul class="flex">
          <li class="mx-4">
            <span class="font-bold text-gray-700">Home</span>
          </li>
          <li class="mx-4">
            <span class="font-medium text-gray-500">Trip Planner</span>
          </li>
          <li class="mx-4">
            <span class="font-medium text-gray-500">Stories</span>
          </li>
          <li class="mx-4">
            <span class="font-light text-gray-500">
              <i data-feather="log-in" class="text-gray-400"></i>
            </span>
          </li>
        </ul>
      </div>
    </header>

    <div class="w-11/12 flex ml-auto relative">
      <section class="py-16 px-16 hero w-full flex justify-between">
        <div>
          <!-- heading area -->
          <h1 class="text-white text-5xl font-hairline leading-tight">
            <span class="font-semibold"> Discover</span> a touch <br />
            of nature's <br />
            clarity
          </h1>
          <div class="mt-10">
            <div
              class="h-10 w-10 border border-blue-300 flex justify-center items-center"
            >
              <i data-feather="play" class="text-white fill-current h-4"></i>
            </div>
          </div>
        </div>
        <div>
          <!-- Indicators area -->
          <h2 class="text-3xl tracking-wide font-extrabold text-white">01</h2>
          <div class="flex flex-col mt-8 items-center">
            <div class="h-2 w-2 border border-white rounded-full mb-4"></div>
            <div
              class="h-2 w-2 border border-white bg-white rounded-full mb-4"
            ></div>
            <div class="h-2 w-2 border border-white rounded-full mb-4"></div>
            <div class="h-2 w-2 border border-white rounded-full mb-4"></div>
          </div>
          <div class="flex flex-col items-center text-white mt-8">
            <i data-feather="chevron-up" class="mb-3 h-4 w-4"></i>
            <i data-feather="chevron-down" class="h-4 w-4"></i>
          </div>
        </div>
      </section>
      <!-- floating call to action -->
      <div
        class="absolute flex py-6 px-8 justify-between items-center w-3/4 shadow-xl bg-white floating-sub-hero">
        <div>
          <p
            class="uppercase mb-0 text-gray-400 text-xxs font-bold tracking-wider">
            Asian
          </p>
          <h2 class="text-2xl mb-0 tracking-wide font-normal">
            <b>Indonesia</b>
          </h2>
        </div>
        <div class="flex">
          <div class="flex flex-col items-end">
            <p
              class="text-gray-400 uppercase font-bold text-xs tracking-wider m-0">
              Summer tour
            </p>
            <p class="text-left uppercase text-xs mb-0 mt-2 font-black">
              Nov 2018
            </p>
          </div>
          <div class="ml-5">
            <div
              class="h-12 w-12 bg-blue-600 flex items-center justify-center shadow">
              <p class="text-white m-0 text-3xl font-hairline">+</p>
            </div>
          </div>
        </div>
      </div>
</div>





<div class="w-4/5 mx-auto mt-32">
  <section class="flex">
    <div class="w-2/5">
       <!-- explore area -->
  <div>
      <h2 class="text-3xl font-light">
        Trip Planner
      </h2>
      <div class="h-1 bg-gray-300 w-10 mt-2"></div>
    </div>
    <p class="text-sm text-gray-500 font-normal my-4 leading-loose">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
      mollitia enim aliquid debitis, dolor deserunt nihil in culpa vitae
      quibusdam qui earum cum! Similique eveniet at magnam laboriosam
      consequatur illo.
    </p>
    <button
      class="bg-blue-600 py-3 px-5 text-xs font-semibold text-white flex justify-center items-center mt-4 shadow-lg">
      Explore <i data-feather="arrow-right" class="ml-1 h-4"></i>
    </button>
    </div>

<div class="ml-auto w-2/4 flex">
       <!-- card -->
  <div class="w-2/5 mr-auto tour-card">
      <div>
        <div class="relative image-section">
          <img
            src="./assets/imgs/beach-chills.jpg"
            alt="Umbrellas at the beach"
          />
          <div
            class="absolute bg-white p-2 shadow-lg right-0 bottom-0 flex items-center justify-center w-16"
          >
            <span class="text-xxs absolute font-bold dollar-sign">$</span>
            <p class="m-0 text-base font-semibold">479</p>
          </div>
        </div>
        <p class="text-sm font-medium mt-2">
          Tour Pantai Selatan Yogyakarta Inter Matter
        </p>
        <div class="flex mt-2">
          <p class="uppercase text-gray-500 font-semibold text-xxs">
            15 days tour
          </p>
          <div class="flex ml-10">
            <i
              data-feather="star"
              class="h-3 fill-blue mr-1 text-blue-600 w-3"
            ></i>
            <i
              data-feather="star"
              class="h-3 fill-blue mr-1 text-blue-600 w-3"
            ></i>
            <i
              data-feather="star"
              class="h-3 fill-blue mr-1 text-blue-600 w-3"
            ></i>
            <i
              data-feather="star"
              class="h-3 fill-blue mr-1 text-blue-600 w-3"
            ></i>
            <i data-feather="star" class="h-3 text-gray-400 w-3"></i>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>
 <!--trip planner blog section-->
<div class="w-11/12 mr-auto mt-32">
      <section class="flex items-center">
        <div class="w-1/2">
          <img src="./assets/imgs/beach-trees.jpg" alt="Trees at the beach" />
        </div>
        <div class="w-2/5 ml-auto">
          <div>
            <h2 class="text-3xl font-light">
              Blogs
            </h2>
            <div class="h-1 bg-gray-300 w-10 mt-2"></div>
          </div>
          <p class="text-sm text-gray-500 font-normal my-4 leading-loose">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
            mollitia enim aliquid debitis, dolor deserunt nihil in culpa vitae
            quibusdam qui earum cum! Similique eveniet at magnam laboriosam
            consequatur illo.
          </p>
          <button
            class="bg-blue-600 py-3 px-5 text-xs font-semibold text-white flex justify-center items-center mt-4 shadow-2xl"
          >
            Read More <i data-feather="arrow-right" class="ml-1 h-4"></i>
          </button>
        </div>
      </section>
    </div>    
</div>


  </body>

  <script>
    feather.replace();
  </script>
</html>
