<div class="w-4/5 mx-auto mt-32">
    <section class="flex">
      <div class="w-2/5">
         <!-- explore area -->
    <div>
        <h2 class="text-3xl font-light">
          Trip Planner
        </h2>
        <div class="h-1 bg-gray-300 w-10 mt-2"></div>
      </div>
      <p class="text-sm text-gray-500 font-normal my-4 leading-loose">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
        mollitia enim aliquid debitis, dolor deserunt nihil in culpa vitae
        quibusdam qui earum cum! Similique eveniet at magnam laboriosam
        consequatur illo.
      </p>
      <button
        class="bg-blue-600 py-3 px-5 text-xs font-semibold text-white flex justify-center items-center mt-4 shadow-lg">
        Explore <i data-feather="arrow-right" class="ml-1 h-4"></i>
      </button>
      </div>

 <div class="ml-auto w-2/4 flex">
         <!-- card -->
    <div class="w-2/5 mr-auto tour-card">
        <div>
          <div class="relative image-section">
            <img
              src="./assets/imgs/beach-chills.jpg"
              alt="Umbrellas at the beach"
            />
            <div
              class="absolute bg-white p-2 shadow-lg right-0 bottom-0 flex items-center justify-center w-16"
            >
              <span class="text-xxs absolute font-bold dollar-sign">$</span>
              <p class="m-0 text-base font-semibold">479</p>
            </div>
          </div>
          <p class="text-sm font-medium mt-2">
            Tour Pantai Selatan Yogyakarta Inter Matter
          </p>
          <div class="flex mt-2">
            <p class="uppercase text-gray-500 font-semibold text-xxs">
              15 days tour
            </p>
            <div class="flex ml-10">
              <i
                data-feather="star"
                class="h-3 fill-blue mr-1 text-blue-600 w-3"
              ></i>
              <i
                data-feather="star"
                class="h-3 fill-blue mr-1 text-blue-600 w-3"
              ></i>
              <i
                data-feather="star"
                class="h-3 fill-blue mr-1 text-blue-600 w-3"
              ></i>
              <i
                data-feather="star"
                class="h-3 fill-blue mr-1 text-blue-600 w-3"
              ></i>
              <i data-feather="star" class="h-3 text-gray-400 w-3"></i>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
   <!--trip planner blog section-->
 <div class="w-11/12 mr-auto mt-32">
        <section class="flex items-center">
          <div class="w-1/2">
            <img src="./assets/imgs/beach-trees.jpg" alt="Trees at the beach" />
          </div>
          <div class="w-2/5 ml-auto">
            <div>
              <h2 class="text-3xl font-light">
                Blogs
              </h2>
              <div class="h-1 bg-gray-300 w-10 mt-2"></div>
            </div>
            <p class="text-sm text-gray-500 font-normal my-4 leading-loose">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
              mollitia enim aliquid debitis, dolor deserunt nihil in culpa vitae
              quibusdam qui earum cum! Similique eveniet at magnam laboriosam
              consequatur illo.
            </p>
            <button
              class="bg-blue-600 py-3 px-5 text-xs font-semibold text-white flex justify-center items-center mt-4 shadow-2xl"
            >
              Read More <i data-feather="arrow-right" class="ml-1 h-4"></i>
            </button>
          </div>
        </section>
      </div>    
  </div>
  