<div class="w-4/5 mx-auto mt-32">
    <section class="flex">
      <div class="w-2/5">
         <!-- explore area -->
    <div>
        <h2 class="text-3xl font-light">
          Trip Planner
        </h2>
        <div class="h-1 bg-gray-300 w-10 mt-2"></div>
      </div>
      <p class="text-sm text-gray-500 font-normal my-4 leading-loose">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias
        mollitia enim aliquid debitis, dolor deserunt nihil in culpa vitae
        quibusdam qui earum cum! Similique eveniet at magnam laboriosam
        consequatur illo.
      </p>
      <button
        class="bg-blue-600 py-3 px-5 text-xs font-semibold text-white flex justify-center items-center mt-4 shadow-lg">
        Explore <i data-feather="arrow-right" class="ml-1 h-4"></i>
      </button>
      </div>
      <div class="ml-auto w-2/4 flex">
        <!-- cards section -->
      </div>
    </section>
  </div>
  