  <h1>Trip Search</h1>
<div class="border bg-gray-400 px-6 py-6 rounded-md shadow-md text-black w-1/3">
  <form id="search-form">
    <label for="search-term">Search Term:</label>
    <input type="text" id="search-term" required>
    <button type="submit" id="comment-submit">Search</button>
  </form>
</div>

  <div id="search-results">
    <!-- Search results will be dynamically added here -->
  </div>

  <script src="/js/tripplanner.js"></script>