  <h1>Trip Search</h1>

  <form id="search-form">
    <label for="search-term">Search Term:</label>
    <input type="text" id="search-term" required>
    <button type="submit" id="comment-submit">Search</button>
  </form>


  <div id="search-results">
    <!-- Search results will be dynamically added here -->
  </div>

  <script src="/js/tripplanner.js"></script>