/* index.css */

* {
  font-family: "Raleway", sans-serif;
}

.image-container {
  display: flex !important;
  flex-wrap: wrap !important;
}

.image-container a {
  display: inline-block !important;
  width: 200px !important;
  height: 200px !important;
  margin: 5px !important;
}

.image-container img {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover !important;
}

.hero {
  background: url("../imgs/beach-bg.jpg") no-repeat;
  height: 500px;
  width: 100%;
}

.floating-sub-hero {
  bottom: -7%;
  left: 10%;
}

.text-xxs {
  font-size: 9px;
}
.dollar-sign {
  top: 11px;
  left: 11px;
}
.fill-blue {
  fill: #3182ce;
}

img {
  max-width: 100%;
  max-height: 100%;
}
.tour-card .image-section {
  width: 200px;
  height: 250px;
}

